<div class="container">
    <div class="col s12 m7">
        <h2 class="textillate textillate-5 header">{{ car.car_name }}</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ car.car_image }}" alt="Ferrari image">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="row">

                        <div class="col s12 m6">
                            <p><strong>Year</strong> {{ car.car_year }}</p>
                            <p><strong>Designer</strong> {{ car.car_design }}</p>
                            <p><strong>Engine</strong> {{ car.spec_engine }}</p>
                            <p><strong>Power</strong> {{ car.car_power }}</p>
                            <p><strong>Trasmission</strong> {{ car.trasmission }}</p>
                            <p><strong>Races</strong> {{ car.races }}</p>
                        </div>
                        <div class="col s12 m6">
                            <p><strong>Wins</strong> {{ car.wins }}</p>
                            <p><strong>Podiums</strong> {{ car.podiums }}</p>
                            <p><strong>Poles</strong> {{ car.poles }}</p>
                            <p><strong>Fast Laps</strong> {{ car.fast_laps }}</p>
                            <p><strong>Constructor Championship</strong> {{ car.constructor_champ }}</p>
                            <p><strong>Driver Championship</strong> {{ car.drivers_champ }}</p>
                            <p><em>Created by: {{ car.created_by }}</em></p>
                        </div>
                    </div>


                    <ul class=" collapsible">
                        <li>
                            <div class="collapsible-header"><i class="material-icons"></i>Description</div>
                            <div class="collapsible-body"><span>{{ car.description }}</span></div>
                        </li>
                    </ul>


                    {% if session.user|lower == car.created_by|lower %}


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ url_for('editcar', car_id=car._id) }}" class="waves-effect btn-small"
                            id="edit-btn"><i class="far fa-edit"></i> Edit</a>
                        <a href="#delete-car-modal" title="Delete dog profile"
                            class="waves-effect btn-small modal-trigger" id="delete-btn"><i
                                class="material-icons icons">delete</i></a>
                        {% include 'components/modals/confirm.html' %}

                    </div>

                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>