{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navigation.html' %}
{% include 'components/message/flashmessages.html' %}

<h4 class="center-align reg-header">Register for an account</h4>


<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fas fa-lock prefix"></i>
                    <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- login -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect btn-small" id="edit-btn">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align reg-par">
            Already have an Account? <a href="{{ url_for('login') }}" class="regText"> Log In</a>
        </p>
    </div>

</div>

{% endblock %}