nav {
    background-color: #DA281C !important;
    box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.5);
}

.navbar-brand, .nav-link {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.nav-link:hover, .navbar-brand:hover {
    color: rgb(221, 216, 216);
}

.navbar-nav {
    margin: auto;
    margin-right: 1rem;
}

.fa-bars {
    color: #fff;
}

.reg-header {
    margin: 3rem;
    color: #DA281C;
}

.btn-reg {
    background-color: #DA281C;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 8rem;
}

.btn-reg:hover {
    background-color: #fff;
    color: #DA281C;
    border: 1px solid #DA281C;
}

input:focus, button:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.fa-user-plus, .fa-user-circle, .fa-lock {
    color: #DA281C;
}

.regLink {
    color: #DA281C;
}

h3, .profileHeader {
    color: #DA281C;
}

.imgCard {
    margin-top: 2rem;
    object-fit: cover;
    width: 15rem;
}

.carCard {
    -webkit-box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.99);
    box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.99);
}

#delete-btn {
    background-color: #F0E844;
    color: #DA281C;
    border: none;
}