@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --red: #DA281C;
    --yellow: #F0E844;
    --white: #fff;
    --black: #000;
}

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.6rem;
    background-color: #131313;
    scroll-behavior: smooth;
}

/* Navbar */

nav, .sidenav {
    background-color: var(--red) !important;
    box-shadow: 0px 8px 12px -2px rgba(172, 172, 172, 0.5);
}

.navbar-fixed nav {
    height: 7rem;
}

nav, .nav-link {
    color: var(--white);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    height: 7rem;
}

nav, .nav-link:hover {
    color: rgb(221, 216, 216);
    height: 7rem;
}

.sidenav li>a {
    color: var(--white);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}

.sidenav li>a:hover {
    color: rgb(221, 216, 216);
}

.fa-bars {
    color: var(--white);
}

#logo {
    margin: 1rem;
}

.brand-logo {
    margin-left: 7rem;
    font-family: 'Pacifico', cursive;
}

input:focus, button:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

/* Registration */

.reg-header {
    margin: 3rem;
    font-size: 3.8rem;
    color: var(--red);
    text-shadow: -2px -2px 0 rgb(250, 250, 250), 2px -2px 0 var(--red), -2px 2px 0 var(--red), 2px 2px 0 var(--red), -3px 0 0 #DA281C, 3px 0 0 #DA281C, 0 -3px 0 #DA281C, 0 3px 0 #DA281C;
}

.fa-user-plus, .fa-user-circle, .fa-lock {
    color: var(--red);
}

.regLink {
    color: var(--red);
}

h3, .profileHeader {
    color: var(--red);
    padding: 1rem;
}

#page-title {
    text-shadow: -2px -2px 0 rgb(250, 250, 250), 2px -2px 0 var(--red), -2px 2px 0 var(--red), 2px 2px 0 var(--red), -3px 0 0 var(--red), 3px 0 0 var(--red), 0 -3px 0 var(--red), 0 3px 0 var(--red);
    font-size: 4rem;
    margin: 4rem;
}

.imgCard {
    margin-top: 2rem;
    object-fit: cover;
    width: 15rem;
}

.zoom {
    display: none;
    margin-top: -2rem;
    color: var(--red);
}

.header {
    color: var(--red);
    text-shadow: -2px -2px 0 rgb(250, 250, 250), 2px -2px 0 rgb(250, 250, 250), -2px 2px 0 rgb(250, 250, 250), 2px 2px 0 rgb(250, 250, 250), -3px 0 0 rgb(250, 250, 250), 3px 0 0 rgb(250, 250, 250), 0 -3px 0 rgb(250, 250, 250), 0 3px 0 rgb(250, 250, 250);
    font-weight: 700;
}

.card, .card-panel {
    background-color: rgb(255, 248, 248);
    box-shadow: var(--yellow) 0px 5px, #b9b345 0px 10px, #8d893d 0px 15px, #6d6a35 0px 20px, #3d3c26 0px 25px;
}

.card.horizontal {
    margin-bottom: 5rem;
}

#driver-list {
    margin-left: 0.9rem;
}

#edit-btn {
    background-color: var(--red);
    border: none;
    color: var(--white);
    border-radius: 2rem;
}

/* Modal Content */

.modal {
    background-color: var(--yellow);
    margin: auto;
    padding: 15rem;
    border: 1px solid var(--black);
    width: 80%;
}

.modal-card-head, .modal-card-body, .modal-card-foot {
    background-color: var(--yellow);
}

.modal .modal-footer {
    background-color: var(--yellow);
}

#query {
    background: rgb(214, 210, 210);
    border-radius: 2rem;
}

.input-field .prefix.active {
    color: var(--red);
}

.input-field {
    margin-top: -0.2rem;
}

/* Errors page */

.card-img {
    background-size: cover;
    height: 45rem;
}

#errorTitle {
    font-size: 4rem;
    color: var(--red);
}

#errorPar {
    font-size: 2rem;
}

#btnErr {
    width: 20rem;
    margin-top: 2rem;
    background-color: var(--red);
}

.hidden {
    display: none;
}

.navbar-burger {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.navbar-end {
    background-color: var(--red);
}

.reg-par {
    color: var(--white);
}

.regText {
    color: var(--red);
}

/* Modal */

#delete-log-modal {
    text-align: center;
}

#search-form {
    margin-top: 4rem;
    margin: auto;
    max-width: 40rem;
}

#search-label {
    margin-left: 5rem;
    color: var(--red);
    font-weight: 700;
    margin-top: -0.5rem;
}

.fa-search {
    color: var(--red);
}

.fa-plus {
    display: inline-block;
    margin-left: 7rem;
    margin-top: 0.5rem;
}

.fa-minus {
    display: none !important;
    margin-left: 7rem;
    margin-top: 0.5rem;
}

li.active .collapsible-header .fa-plus {
    display: none;
}

li.active .collapsible-header .fa-minus {
    display: inline-block !important;
}

#btn-search, #delete-btn {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 2rem;
}

#btn-reset {
    background-color: var(--red);
    border-radius: 2rem;
}

/* card */

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    padding: 2rem;
    width: 18rem;
    height: 14rem;
    background-size: 100%;
}

#image:hover {
    -ms-transform: scale(1.9);
    /* IE 9 */
    -webkit-transform: scale(1.9);
    /* Safari 3-8 */
    transform: scale(1.9);
    transition: transform .5s;
    z-index: 1;
}

.collapsible-header {
    background-color: var(--red);
    color: var(--white);
}

strong {
    background: var(--red);
    color: var(--white);
    border-radius: 1.3rem;
    padding: 4px;
    font-size: 1.1rem;
}

p {
    padding: 0.4rem;
}

/* form */

.input-field.col label {
    color: var(--red);
    font-weight: 700;
}

#row-form {
    margin-top: 4rem;
}

/* Media queries */

@media screen and (max-width: 320px) {
    #logo {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    .card.horizontal .card-image img {
        border-radius: 2px 0 0 2px;
        padding: 2rem;
        width: 12rem;
        height: 10rem;
    }
    .card .card-content {
        padding: 0.5rem;
    }
    .header {
        font-size: 2.5rem;
    }
    .brand-logo {
        margin-left: 2rem;
    }
    #logo {
        margin-left: 5rem;
        height: 3.5rem;
    }
    .fa-plus {
        margin-left: 7rem;
    }
    .fa-minus {
        margin-left: 20rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1.4rem;
    }
    #query {
        width: 90%;
    }
    .brand-logo {
        margin-left: 2rem;
    }
    #logo {
        margin-left: 24rem;
        height: 3.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .input-field.col label {
        font-size: 1.5rem;
    }
    .modal {
        width: 60%;
        height: 80%;
    }
    #err-img {
        max-height: 55rem;
    }
}

@media screen and (max-width: 1633px) {
    #err-img {
        height: 45rem;
    }
}