@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');
html {
    font-size: 62.5%;
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 2rem;
    background-color: #131313;
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

nav, .sidenav {
    background-color: #DA281C !important;
    box-shadow: 0px 8px 12px -2px rgba(172, 172, 172, 0.5);
}

nav ul a {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}

nav ul a:hover {
    color: rgb(221, 216, 216);
}

.sidenav li>a {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}

.sidenav li>a:hover {
    color: rgb(221, 216, 216);
}

.fa-bars {
    color: #fff;
}

.reg-header {
    margin: 3rem;
    font-size: 3.8rem;
    color: #DA281C;
    text-shadow: -2px -2px 0 rgb(250, 250, 250), 2px -2px 0 #DA281C, -2px 2px 0 #DA281C, 2px 2px 0 #DA281C, -3px 0 0 #DA281C, 3px 0 0 #DA281C, 0 -3px 0 #DA281C, 0 3px 0 #DA281C;
}

.btn-reg {
    background-color: #DA281C;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 8rem;
}

.btn-reg:hover {
    background-color: #fff;
    color: #DA281C;
    border: 1px solid #DA281C;
}

input:focus, button:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.fa-user-plus, .fa-user-circle, .fa-lock {
    color: #DA281C;
}

.regLink {
    color: #DA281C;
}

h3, .profileHeader {
    color: #DA281C;
    padding: 1rem;
}

#page-title {
    text-shadow: -2px -2px 0 rgb(250, 250, 250), 2px -2px 0 #DA281C, -2px 2px 0 #DA281C, 2px 2px 0 #DA281C, -3px 0 0 #DA281C, 3px 0 0 #DA281C, 0 -3px 0 #DA281C, 0 3px 0 #DA281C;
    font-size: 4rem;
    margin: 4rem;
}

.imgCard {
    margin-top: 2rem;
    object-fit: cover;
    width: 15rem;
}

.header {
    color: #DA281C;
    text-shadow: -2px -2px 0 rgb(250, 250, 250), 2px -2px 0 rgb(250, 250, 250), -2px 2px 0 rgb(250, 250, 250), 2px 2px 0 rgb(250, 250, 250), -3px 0 0 rgb(250, 250, 250), 3px 0 0 rgb(250, 250, 250), 0 -3px 0 rgb(250, 250, 250), 0 3px 0 rgb(250, 250, 250);
    font-weight: 700;
}

.card, .card-panel {
    background-color: rgb(214, 210, 210);
    -webkit-box-shadow: -10px 0px 13px -7px #bfbfbf, 10px 0px 13px -7px #bfbfbf, -1px -4px 20px -2px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #bfbfbf, 10px 0px 13px -7px #bfbfbf, -1px -4px 20px -2px rgba(0, 0, 0, 0);
}

#myBtn {
    background-color: #F0E844;
    color: #DA281C;
    border: none;
}

#edit-btn {
    background-color: #DA281C;
    border: none;
    color: #fff;
    border-radius: 2rem;
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal {
    background-color: #F0E844;
    margin: auto;
    padding: 30px;
    border: 1px solid #000;
    width: 80%;
}

.modal-card-head, .modal-card-body, .modal-card-foot {
    background-color: #F0E844;
}

.modal .modal-footer {
    background-color: #F0E844;
}

#query {
    background: rgb(214, 210, 210);
    border-radius: 2rem;
}

.input-field .prefix.active {
    color: #DA281C;
}

.input-field {
    margin-top: -0.2rem;
}

/* Errors page */

.card-img {
    background-size: cover;
    height: 45rem;
}

#errorTitle {
    font-size: 4rem;
    color: #DA281C;
}

#errorPar {
    font-size: 2rem;
}

#btnErr {
    width: 20rem;
    margin-top: 2rem;
    background-color: #DA281C;
}

.hidden {
    display: none;
}

.navbar-burger {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.navbar-end {
    background-color: #DA281C;
}

.reg-par {
    color: #fff;
}

.regText {
    color: #DA281C;
}

/* Modal */

#delete-log-modal {
    text-align: center;
}

#search-form {
    margin-top: 4rem;
    margin: auto;
    max-width: 40rem;
}

#search-label {
    margin-left: 5rem;
    color: #DA281C;
    font-weight: 700;
    margin-top: -0.5rem;
}

.fa-search {
    color: #DA281C;
}

#btn-search, #delete-btn {
    background-color: #F0E844;
    color: #000;
    border-radius: 2rem;
}

#btn-reset {
    background-color: #DA281C;
    border-radius: 2rem;
}

/* card */

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    padding: 2rem;
    width: 18rem;
    height: 14rem;
    background-size: 100%;
}

img:hover {
    -ms-transform: scale(1.9);
    /* IE 9 */
    -webkit-transform: scale(1.9);
    /* Safari 3-8 */
    transform: scale(1.9);
    transition: transform .5s;
    z-index: 1;
}

.collapsible-header {
    background-color: #DA281C;
    color: #fff;
}

strong {
    background: #fff;
    color: #000;
    border-radius: 1.3rem;
    padding: 4px;
    -webkit-box-shadow: 4px 7px 5px -2px rgba(0, 0, 0, 0.94);
    box-shadow: 4px 7px 5px -2px rgba(0, 0, 0, 0.94);
}

p {
    padding: 6px;
}

/* form */

.input-field.col label {
    color: #DA281C;
    font-weight: 700;
}

#row-form {
    margin-top: 4rem;
}

@media screen and (min-width: 1023px) {
    .input-field.col label {
        font-size: 1.5rem;
    }
    .modal {
        width: 60%;
        height: 50%;
    }
}

@media screen and (max-width: 414px) {
    .card.horizontal .card-image img {
        border-radius: 2px 0 0 2px;
        padding: 2rem;
        width: 12rem;
        height: 10rem;
    }
    .card .card-content {
        padding: 0.5rem;
    }
    .header {
        font-size: 2.5rem;
    }
}