{% extends 'layout/base.html' %}
{% block content %}
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <h3 class="modal-title">Delete your Car</h3>

        </div>
        <div class="modal-body">
            <p>You are about to delete this Car. Are you sure? This action cannot be undone!</p>
        </div>
        <div class="modal-footer">
            <form method="POST" action="{{ url_for('deletecar', car_id=car._id) }}">

                <a type="submit" placeholder="Delete story" class="btn btn-danger" name="action"
                    aria-label="Delete story"><i class="far fa-trash-alt"></i> Delete Car
                </a>
                <a href="{{ url_for('get_cars', car_id=car._id) }}" class="btn btn-danger"><i
                        class="fas fa-times-circle"></i> Return</a>

            </form>

        </div>
    </div>

</div>

{% endblock %}