<div id="delete-car-modal" class="modal">
    <div class="modal-content">
        <h4>Are you sure you would like to delete the <span class="capitalize">this car?</span>?</h4>
        <p>The information will be permanently deleted</p>
    </div>
    <div class="modal-footer">
        <div class="col s12 center-align">
            <a href="{{ url_for('get_cars', car_id=car._id) }}" class="waves-effect btn-small" id="edit-btn">Return</a>
            <a href="{{ url_for('deletecar', car_id=car._id) }}" class="waves-effect btn-small" id="edit-btn">Delete</a>
        </div>
    </div>
</div>