<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ url_for('get_cars') }}" class="navbar-item">
                <img src="" alt="logo">Home
            </a>
            <!-- Mobile navigation -->
            <span class="navbar-burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <!-- Desktop navigation -->
        <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
                <a href="{{ url_for('get_cars') }}" class="navbar-item">Home</a>
                {% if session.user %}
                <a href="{{ url_for('profile', username=session['user']) }}" class="navbar-item ">My Profile </a>
                <a href="{{ url_for('addcar') }}" class="navbar-item">New Car</a>
                <span class="navbar-item">
                    <a href="{{ url_for('logout') }}" class="button is-rounded is-info is-inverted is-small-mobile"
                        aria-label="Log out">Log
                        Out</a>
                </span>
                {% else %}
                <a href="{{ url_for('register') }}" class="navbar-item  ">Register</a>
                <span class="navbar-item">
                    <a href="{{ url_for('login') }}" class="button is-rounded is-info is-inverted is-small-mobile "
                        aria-label="Log In">Log In</a>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</nav>