<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('get_cars') }}" class="brand-logo">Scuderia</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a aria-current="page" href="{{ url_for('get_cars') }}">Home</a></li>
                {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
                <li> <a href="{{ url_for('addcar') }}">New Car</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a aria-current="page" href="{{ url_for('get_cars') }}">Home</a></li>
    {% if session.user %}
    <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
    <li> <a href="{{ url_for('addcar') }}">New Car</a></li>
    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('login') }}">Log In</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
</ul>