{% extends "base.html" %}
{% block content %}


{% for car in cars %}
{{ car.car_year }}<br>
{{ car.car_name }}<br>
{{ car.car_image }}<br>
{{ car.car_design }}<br>

{% endfor %}

{% for spec in specs %}

{{ spec.spec_engine }}<br>
{{ spec.car_power }}<br>
{{ spec.trasmission }}<br>

{% endfor %}

{% for stat in stats %}

{{ stat.races }}<br>
{{ stat.wins }}<br>
{{ stat.podiums }}<br>
{{ stat.poles }}<br>
{{ stat.fast_laps }}<br>
{{ stat.constructor_champ }}<br>
{{ stat.driver_champ }}<br>
{{ stat.description }}<br>

{% endfor %}

{% endblock %}