{% extends "base.html" %}
{% block content %}

<div class="row row justify-content-center mt-4">
    {% for car in cars %}

    <div class="card mb-3" style="max-width: 840px;">

        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ car.car_image }}" class="imgCard" alt="ferrari image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item"><strong>Year</strong>: {{ car.car_year }}</li>
                        <li class="list-group-item"><strong>Name</strong>: {{ car.car_name }}</li>
                        <li class="list-group-item"><strong>Designer</strong>: {{ car.car_design }}</li>

                    </ul>
                    {% for spec in specs %}
                    <ul class="list-group list-group-flush">


                        <li class="list-group-item"><strong>Engine</strong>: {{ spec.spec_engine }}</li>
                        <li class="list-group-item"><strong>Power</strong>: {{ spec.car_power }}</li>
                        <li class="list-group-item"><strong>Trasmission</strong>: {{ spec.trasmission }}</li>


                    </ul>
                    {% endfor %}
                </div>


            </div>

        </div>

    </div>

    {% endfor %}


</div>



{% endblock %}