{% extends "base.html" %}
{% block content %}


{% for car in cars %}
{{ car.car_year }}<br>
{{ car.car_name }}<br>
{{ car.car_image }}<br>
{{ car.car_design }}<br>

{% endfor %}

{% for spec in specs %}

{{ spec.spec_engine }}<br>
{{ spec.car_power }}<br>
{{ spec.trasmission }}<br>

{% endfor %}

{% for stat in stats %}

{{ stat.races }}<br>
{{ stat.wins }}<br>
{{ stat.podiums }}<br>
{{ stat.poles }}<br>
{{ stat.fast_laps }}<br>
{{ stat.constructor_champ }}<br>
{{ stat.driver_champ }}<br>
{{ stat.description }}<br>

{% endfor %}

<div class="row justify-content-center">
    <div class="card" style="width: 48rem;">
        <img src="https://s1.cdn.autoevolution.com/images/news/gallery/ferrari-312t-the-forgotten-history-of-formula-ones-most-successful-car_6.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

{% endblock %}