{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navigation.html' %}
{% include 'components/message/flashmessages.html' %}

<h4 class="text-center reg-header">Log In</h4>


<form class="row g-3 " method="POST" action="{{ url_for('login') }}">
    <div class="row justify-content-center">
        <div class="col-md-12 w-50">
            <i class="fas fa-user-circle"></i>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" required>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 w-50">
            <i class="fas fa-lock"></i>
            <label for="password class=" form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" required>
        </div>

    </div>
    <div class="text-center">
        <button type="submit" class="btn-reg">Log In</button>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-12 w-50">
            <p class="text-center">
                Dont' have an Account? <a class="regLink" href="{{ url_for('register') }}">Create an
                    Account</a>
            </p>
        </div>
    </div>



</form>

{% endblock %}