{% extends "base.html" %}
{% block content %}

<h4 class="text-center reg-header">Register for an account</h4>


<form class="row g-3 " method="POST" action="{{ url_for('register') }}">
    <div class="row justify-content-center">
        <div class="col-md-12 w-50">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 w-50">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>

    </div>
    <div class="text-center">
        <button type="submit" class="btn-reg">Sign in</button>
    </div>





</form>

{% endblock %}