{% extends 'layout/base.html' %}
{% block content %}
<div class="container">
    <div class="card bg-dark text-white">
        <img src="https://static.straitstimes.com.sg/s3fs-public/articles/2017/09/18/39a-ns-vettel_-180917.jpg"
            class="card-img" alt="ferrari crashs">
        <div class="card-img-overlay">
            <h1 class="text-center" id="errorTitle">Ouch!! Something went wrong!</h1>
            <p class="text-center" id="errorPar">This is mot the page you were looking for!</p>
            <div class="row justify-content-center">
                <a href="{{ url_for('get_cars') }}" class="button is-danger is-rounded" id="btnErr">Go Back</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}